.movieCardContainer {
  list-style-type: none;
  width: 78%;
}

.movieCardContainer img {
  height: 17rem;
  width: 12rem;
  border-radius: 4px;
}

.movieCardContainer p {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.movieCardContainer a {
  text-decoration: none;
  color: white;
}

.dateRatingAdd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5e5e5f;
}

.ratingMovie {
  color: #deb04d;
}

.cardBelow {
  width: 11.8rem;
}

@media screen and (max-width: 464px) {
  .movieCardContainer {
    width: 5rem;
  }

  .movieCardContainer img {
    height: 13rem;
    width: 8rem;
  }

  .dateRatingAdd {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}
