.buttonSerieMovie {
  margin-top: 7rem;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.btnMS {
  background-color: transparent;
  border: none;
  font-size: larger;
  background: none;
  color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
  margin-bottom: 1rem;
  /* background-color: blue; */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redDot {
  display: flex;

  justify-content: center;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #c93635;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.activeButton {
  color: white;
}

@media (max-width: 800px) {
  .buttonSerieMovie {
    margin-top: 3rem;
    gap: 5rem;
  }
}
