.navbarItems {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  /* background-color: red; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: -1rem;
  margin-right: -1rem;
}

.navbarSearchWatchlist {
  display: flex;
  gap: 5rem;
}

.logo {
  padding: 5px;
}

.logo a img {
  text-decoration: none;
  height: 2rem;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.responsiveContent {
  display: flex;
  gap: 5rem;
}

.watchlist a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .hamburgerMenu {
    display: block;
  }

  .responsiveContent {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    top: 60px;
    left: 100;
    right: 0;

    background-image: linear-gradient(to bottom right, #674646f9, #212628b5);

    z-index: 1;
    height: 100vh;
    transition: top 3s ease-in-out;
  }

  .responsiveContent.active {
    display: flex;
    left: 0;
  }
}
