.containerTitleClose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: -4rem;
}

.containerModalTodoCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.btnModal {
  width: 100%;
}

.mainContainerUpdate {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: white;
  padding: 20px;

  border-radius: 8px;

  width: 40%;
  height: 40%;
}

.innerContainerModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  gap: 3rem;
}

@media (max-width: 760px) {
  .mainContainerUpdate {
    width: 60%;
  }
}
