.containerTitleClose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: -4rem;
}

.containerModalTodoCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 90%;
}

.containerModalTodoCheckbox input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
}

.containerModalTodoCheckbox input:focus {
  outline: none;
  border: 2px solid var(--color-main);
}

.containerFormUpdate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.btnModal {
  width: 100%;
  padding: 1rem !important;
}

.innerContainerModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}
