.mainContainerNavbar {
  display: flex;
  justify-content: center;
}

.containerLinks {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0 !important;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0;
  width: 100%;
}

.containerLinks li {
  list-style: none;
  flex: 1;
}

.containerLinks a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.linkBorderHome {
  border-radius: 25px 0 0 25px;
  padding: 1rem;
}

.linkBorderDone {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1rem;
}

.linkBorderNotDone {
  border-radius: 0 25px 25px 0;
  padding: 1rem;
}

.activeLinkBorder {
  background-color: red;
}
