.mainContainerNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerLinks li {
  list-style: none;
}

.containerLinks a {
  text-decoration: none;
}

.containerLinks {
  padding: 0 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 1px solid black;
  border-radius: 25px;
}

.linkBorder {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1rem 2rem 1rem 2rem;
}

.active {
  background-color: red;
}
