.mainContainerNavbar {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.containerLinks {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0 !important;
  border: 1.5px solid var(--color-main);
  border-radius: 25px;
  padding: 0;
  margin: 0;
  width: 70%;
}

.containerLinks li {
  list-style: none;
  flex: 1;
}

.containerLinks a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(14, 14, 14);
}

.linkBorderHome {
  border-radius: 25px 0 0 25px;
  padding: 1rem;
}

.linkBorderDone {
  border-left: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main);
  height: 100%;
  padding: 1rem;
}

.linkBorderNotDone {
  border-radius: 0 25px 25px 0;
  padding: 1rem;
}

.activeLinkBorder {
  background: linear-gradient(to right, #cabef6, #d3d7f1);
}

@media (max-width: 500px) {
  .containerLinks {
    width: 100%;
  }

  .linkBorderNotDone,
  .linkBorderDone,
  .linkBorderHome {
    padding: 1rem 0rem;
  }
}
