.containerSingleTodo {
  list-style: none;
  border: 1px solid rgb(96, 95, 95);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  padding-top: 0.8rem;

  width: 20rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  word-break: break-all;
}

.containerSingleTodo .containerCheckTodoUpdateDelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.checkboxAndTodo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnDeleteUpdate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

/* SHOW MORE SHOW LESS */
.btnMoreLess {
  border: none;
  background: none;
  font-size: x-small;
  cursor: pointer;
}

/* CREATED AT */
.createAt {
  font-size: small;
  text-align: right;
  margin-right: 0.4rem;
  color: var(--color-createdAt);
}

/* COMPLETED */
.completed {
  border-left: 6px solid var(--color-completed);
}

.notCompleted {
  border-left: 6px solid var(--color-not-completed);
}

/* CHECKBOX */
.containerCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.containerCheckbox input {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-main);
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  background-color: #eee;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkmark:hover {
  background-color: var(--color-main);
}

.containerCheckbox input:checked + .checkmark {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.containerCheckbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media (max-width: 760px) {
  .containerSingleTodo {
    width: 18rem;
  }
}

@media (max-width: 300px) {
  .containerSingleTodo {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
