:root {
  --color-dark: #1b1c21;
  --color-lightDark: #23252d;
  --color-text: #e8e7e7;
  --color-text-orange: #9b6a3e;
  --color-orange-dark: #ed6045;
  --color-orange-light: #f5871a;
}

body {
  width: 100%;
  margin: 0;
}
