@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-dark: #18191e;
  --color-lightDark: #23252c;
  --color-text: #e8e7e7;
  --color-text-orange: #9b6a3e;
  --color-orange-dark: #ed6045;
  --color-orange-light: #f5871a;
}

body {
  width: 100%;
  margin: 0;
  color: var(--color-text);
  font-family: "roboto";
}
