.containerMovies {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 1.5rem;
}

.trendingMovies {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.containerTrending {
  overflow: visible;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto, 0;
}

.moviesInsideCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .moviesInsideCarousel {
    display: flex;
    align-items: center;
    justify-content: initial;
    width: 100%;
  }
}

@media (max-width: 680px) {
  .containerMovies {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 680px) {
  .containerMovies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .containerMovies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .containerMovies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
