.containerMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.trendingMovies {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.containerTrending {
  overflow: visible;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto, 0;
}

.moviesInsideCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnUp {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  /* bottom: 20px;
  right: 20px; */
  z-index: 1000;
}
