.containerMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.8rem;
}

.trendingMovies {
  display: flex;
  align-items: center;
}

.containerTrending {
  overflow: visible;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto, 0;
}
