.containerNews {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  width: 14rem;
  background-color: var(--color-lightDark);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 1.5px solid var(--color-orange-dark);
}

.infosNews {
  padding: 2rem;
}

.likesAuthor {
  display: flex;
  gap: 0.5rem;
}

.likesAuthor {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.iconLiked {
  color: var(--color-orange-dark);
}

.title {
  color: var(--color-orange-light);
  font-size: 10px;
}

p {
  font-size: 12px;
}

.author {
  font-size: 10px;
}
