.mainContainerPrices {
  background-color: var(--color-lightDark);
  padding: 4rem 0 4rem 0;
}

.containerOffers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.containerPlans {
  border: 1px solid var(--color-testimonials);
  width: 13rem;
  text-align: center;
}

.horizontalLine {
  border-top: 1px solid var(--color-testimonials);
  width: 6rem;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.dollars {
  font-size: 2rem;
}

.periodTraining {
  background-color: var(--color-dark);
  padding: 1rem 0 1rem 0;
}

.containerPlans:hover .periodTraining {
  background: linear-gradient(
    to right,
    var(--color-orange-dark),
    var(--color-orange-light)
  );
}

.containerPlans:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
