.containerWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 80%;
  background-color: #3641568f;
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
}

.mainContainer img {
  width: 80%;
}

.mainContainerWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerEachDay {
  text-align: center;
}

.containerEachDay span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}

.containerFirstDay {
  /* background-color: red; */
}

.firstDay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.firstDay span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstDayDateTemp {
  text-align: center;
}

.today {
  text-align: center;
  margin-top: 1rem;
}
