.contentWrapper {
  /* position: relative; */
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  background-color: #364156cc;
  color: white;
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: relative;
  height: 50%;
}

.mainContainer img {
  width: 80%;
  max-width: 100%;
}

.containerWeather {
  position: absolute;
  bottom: 0;

  z-index: 1;
}

.today {
  text-align: center;
  margin-top: 1rem;
}
