.containerWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin-right: 15rem; */
  /* margin-left: 15rem; */
  background-color: #3641568f;
}

.containerEachDay {
  text-align: center;
}

.containerEachDay span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFirstDay {
  /* background-color: red; */
}

.firstDay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.firstDay span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstDayDateTemp {
  text-align: center;
}

.today {
  text-align: center;
  margin-top: 1rem;
}
