.searchbarHomepage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerSearchHomepage {
  margin-top: 3rem;
}

.containerSearchHomepage p {
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
