.img {
  height: 30rem;
  border-radius: 4px;
}

.movieContainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 4rem;
  margin: 0 10rem 0 10rem;
}

.addVoteUnderPoster {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
}

.voteGenre {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.linkToTrailer {
  text-decoration: none;
  color: white;
  background-color: #c63534;
  list-style-type: none;
  width: 8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}

.linkToTrailer:hover {
  transform: scale(1.07);
}

.linkAdd {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.addBtn {
  text-decoration: none;
  color: white;
  background-color: #45454593;
  list-style-type: none;
  width: 8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  gap: 2rem;
}

.addBtn:hover {
  transform: scale(1.07);
}
