.img {
  height: 30rem;
  border-radius: 4px;
}

.movieContainer {
  display: flex;

  justify-content: center;
  gap: 4rem;
  margin: 3rem 10rem 0 10rem;
}

.addVoteUnderPoster {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
}

.voteGenre {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.linkAdd {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  z-index: 10;
}

.textSimilarGenre {
  text-align: center;
}

.overview {
  line-height: 1.5;
}

@media (max-width: 800px) {
  .movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .textSimilarGenre {
    margin-top: 2rem;
  }
}
