.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.8rem;
}

.container li {
  list-style-type: none;
}

.removeWatchlist {
  position: absolute;
  bottom: 12rem;
  left: 2rem;
  z-index: 1000;
}

.movieCardContainer {
  position: relative;
}

.movieCardContainer:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.movieCardContainer img:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.221);
}

.seriesMovies {
  text-align: center;
}

h3 {
  display: flex;
  align-items: center;
}

.textWatchlist {
  text-align: center;
  margin-top: 2rem;
}

.x {
  height: 100vh;
}
