.task {
  display: flex;
  flex-direction: column;
  width: 50%;

  gap: 1rem;
}

.task li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
}

.container__checkbox-delete {
  display: flex;
  gap: 1rem;
}

/* CONTAINER PRIORITY */

.container__priority {
}

/* BTN PRIORITY LEVEL */

.btn__priorityLevel {
  border: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  margin: 2px;
}

.btn__priorityLevel--red {
  background: red !important;
}

.btn__priorityLevel--red--clicked {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.789),
    rgb(255, 99, 71)
  );
}

.btn__priorityLevel--orange {
  background: orange !important ;
}

.btn__priorityLevel--orange--clicked {
  background-image: linear-gradient(
    to right,
    rgba(255, 69, 0, 0.789),
    rgb(255, 165, 0)
  );
}

.btn__priorityLevel--yellow {
  background: yellow !important;
}

.btn__priorityLevel--yellow--clicked {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 0, 0.789),
    rgb(255, 255, 224)
  );
}

.btn__priorityLevel--green {
  background: green !important;
}

.btn__priorityLevel--green--clicked {
  background-image: linear-gradient(
    to right,
    rgba(0, 255, 0, 0.789),
    rgb(0, 255, 127)
  );
}
