@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+BE+VLG:wght@100..400&display=swap");

body {
  background-color: #a58fffb9;
  padding: 2rem;
  color: rgb(42, 42, 42);
}

h1 {
  font-family: "Playwrite BE VLG", cursive;
  color: whitesmoke;
  text-align: center;
}

/* Useless text */
.container__song {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__song p {
  text-align: center;
}

.btn {
  background-color: #3fd4f4;
  border: none;
  padding: 0.5rem;
  color: whitesmoke;
  cursor: pointer;

  transition: ease-in-out 0.3s;
}

.btn__showMore {
  border-radius: 20px;
}

.btn__submitInput {
  border-radius: 0px 20px 20px 0px;
}

.btn__showMore:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

/* INPUT */

.container__input__submit {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__input__submit input {
  border: none;
  padding: 0.5rem;
  border-radius: 20px 0px 0px 20px;
}

.task {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  gap: 1rem;
}

@media (min-width: 760px) {
  .task li {
    width: 60%;
  }
}

.task li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container__checkbox-delete {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container__checkbox-delete button {
  background-color: #3fd4f4;
  color: whitesmoke;
  border: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;

  transition: ease-in-out 0.3s;
}

.container__checkbox-delete button:hover {
  transform: scale(1.05) !important;
  transition: ease-in-out 0.3s;
}

.checkbox__markDone {
  height: 20px;
  width: 20px;
}

/* CONTAINER PRIORITY */

.container__arrowPriority {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* BTN PRIORITY LEVEL */

.btn__priorityLevel {
  border: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  margin: 2px;
}

.btn__priorityLevel--red {
  background: red !important;
}

.btn__priorityLevel--red--clicked {
  background-image: linear-gradient(
    to right,
    rgba(214, 18, 18, 0.789),
    rgba(255, 99, 71, 0.692)
  );
}

.btn__priorityLevel--orange {
  background: orange !important ;
}

.btn__priorityLevel--orange--clicked {
  background-image: linear-gradient(
    to right,
    rgba(255, 69, 0, 0.789),
    rgb(255, 165, 0)
  );
}

.btn__priorityLevel--yellow {
  background: yellow !important;
}

.btn__priorityLevel--yellow--clicked {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 0, 0.789),
    rgb(255, 255, 224)
  );
}

.btn__priorityLevel--green {
  background: green !important;
}

.btn__priorityLevel--green--clicked {
  background-image: linear-gradient(
    to right,
    rgba(0, 255, 0, 0.789),
    rgb(0, 255, 127)
  );
}
