.containerWeather {
  position: absolute;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  top: 127px;
  width: 90%;
  left: 55%;

  color: white;
  gap: 1rem;
  background-color: #364156cc;
  padding-top: 2rem;
}

.mainContainerWeather {
  display: flex;
  flex-direction: column;

  transform: translateX(-50%);
  background-color: #364156cc;
}

.FirstDay {
  height: 8rem;
  position: absolute;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 90%;
  left: 55%;

  color: white;
  gap: 1rem;
  background-color: #364156cc;
  font-size: x-large;
}
