.image {
  width: 90%;
  margin: auto;
  max-width: 100%;
  max-height: none;
  display: block;
  object-fit: cover;
  z-index: 1;
}

/* .containerImage {
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
  height: 460px;

  width: 70%;
  min-width: 700px;

  margin: auto;

  box-shadow: 0 0 40px rgba(0, 0, 0, 0.696);
} */

.errorText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
  color: rgb(230, 60, 60);
  font-size: larger;
}
