.image {
  width: 60%;

  margin: auto;
  max-width: 100%;

  display: block;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.696);
}

.containerImage {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.image img {
  margin-top: 3rem;
}
