.image {
  width: 60%;

  height: auto;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.696);
}

.containerImage {
  padding: 4rem;
}
