.input {
  background-color: #34384146;
  border: none;

  height: 3rem;
  border-radius: 20px;
  text-align: center;
  border: 2px solid white;
  width: 15rem;
  color: white;
  font-size: x-large;
}

.x {
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (max-width: 600px) {
  .input {
    width: 8rem;
    height: 2rem;
    font-size: medium;
  }
}
