.input {
  background-color: #34384146;
  border: none;
  position: fixed;
  top: 60px;
  right: -5px;
  height: 2rem;
  border-radius: 20px;
  text-align: center;
  border: 1px solid white;
  width: 5rem;
}

.inputContainer {
  position: fixed;
  top: 114px;
  right: 15px;
  height: 2rem;
}
