.containerEachDay {
  text-align: center;
}

.containerEachDay span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}

.containerEachDay p {
  font-size: x-small;
}

.day {
  background-color: #343841ef;
  border-radius: 10px;
  padding: 4px;
}
