.containerEachDay {
  text-align: center;

  border-bottom: 1px solid #3c4556;
}

.containerEachDay span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.day {
  background-color: #343841ef;
  border-radius: 10px;
  padding: 4px;
  width: 70%;
  margin: 0 auto;
  font-size: x-large;
}

.iconTemp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 600px) {
  .day {
    font-size: small;
  }

  .containerEachDay span {
    font-size: 18px;
  }
}
