.containerClient {
  background-color: var(--color-lightDark);
  display: flex;
  justify-content: space-around;

  height: 12rem;
  overflow: hidden;
  /* width: 19rem; */
}

.containerTextClient {
  padding: 1rem;
}

.imageClient img {
  height: 12.3rem;
  clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
  object-fit: cover;
  margin-right: -2rem;
}

.client {
  color: var(--color-orange-dark);
  font-size: smaller;
  margin-top: -1rem;
}

.feedback {
  font-size: small;
  color: var(--color-testimonials);
}

@media (min-width: 750px) {
  .containerClient {
    width: 90%;
  }
}
