.mainContainerFeedbacks {
  background-color: var(--color-dark);
  padding: 2rem;
}

.horizontalLine {
  border-top: 1px solid var(--color-orange-dark);
  width: 3rem;
  margin-bottom: 1rem;
}

.imageGym {
  height: 10rem;
}

.containerImageGym {
  margin-top: 3rem;
}
