.mainContainer {
  padding-top: 3rem;
  background-color: var(--color-lightDark);
}

.container {
  padding: 1rem;
}

.horizontalLine {
  border-top: 1px solid var(--color-orange-dark);
  width: 3rem;
}

.welcomeMessage {
  color: var(--color-orange-light);
}

.image {
  height: 2rem;
}

.containerCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
