.mainContainerHomepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.containerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
}

.containerForm input {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.containerForm input:focus {
  outline: none;
  border: 2px solid var(--color-main);
}

.containerSingleTodo {
  list-style: none;
  border: 1px solid green;
}

@media (max-width: 800px) {
  .containerForm {
    width: 80%;
  }
}
