.containerAllTodos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.containerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  margin-top: 2rem;
}

.containerForm input {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.containerForm input:focus {
  outline: none;
  border: 2px solid var(--color-main);
}

.containerSingleTodo {
  list-style: none;
  border: 1px solid green;
}

@media (min-width: 760px) {
  .containerAllTodos {
    grid-template-columns: repeat(2, 1fr);
  }
}
