.imageBanner img {
  width: 100%;
  object-fit: cover;
  height: 12rem;
}

.imageBanner {
  position: relative;
  height: 100%;
}

.textTopImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  height: 100%;
  padding: 1rem;

  margin-top: -2rem;
  font-size: x-small;
  text-align: center;
}

.mailto {
  position: absolute;
  z-index: 100;
  background: linear-gradient(
    to right,
    var(--color-orange-dark),
    var(--color-orange-light)
  );

  border: none;

  border-radius: 5px;
  padding: 0.4rem;
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
  margin-top: -8rem;
}

.mailto:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.containerMailto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomFooter {
  background-color: var(--color-lightDark);
  margin-top: -1rem;
  padding-top: 3rem;
}

.leftPart img {
  height: 2rem;
}

.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.leftPart p {
  width: 80%;
  text-align: center;
  font-size: x-small;
  color: var(--color-text);
}

.leftPart span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.leftPart span svg {
  color: var(--color-text);
}

.leftPart span svg:hover {
  color: var(--color-orange-dark);
}

.middlePart h3 {
  text-align: center;
}

.middlePart span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem;
  font-size: x-small;
}

.contactInfos {
  display: flex;
  flex-direction: column;
}

.lineEnd {
  background: linear-gradient(
    to right,
    var(--color-orange-dark),
    var(--color-orange-light)
  );
  height: 2rem;
}

.copyright {
  font-size: xx-small;
  text-align: center;
  background-color: var(--color-dark);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleFooter {
  margin-top: -1rem !important ;
}

@media (min-width: 760px) {
  .bottomFooter {
    display: flex;
    align-items: top;
    justify-content: center;
  }

  .middlePart h3 {
    margin-top: 0;
  }

  .leftPart p {
    width: 40%;
  }

  .leftPart {
    gap: 20px;
  }

  .imageBanner img {
    height: 10rem;
    object-fit: cover;
    object-position: center 75%;
  }
}
