.imageBanner img {
  width: 100%;
  object-fit: cover;
}

.imageBanner {
  position: relative;
  height: 100%;
}

.textTopImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: -1rem;
}

.mailto {
  position: absolute;
  z-index: 100;
  background: linear-gradient(
    to right,
    var(--color-orange-dark),
    var(--color-orange-light)
  );

  border: none;

  border-radius: 5px;
  padding: 0.4rem;
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
  margin-top: -8rem;
}

.mailto:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.containerMailto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomFooter {
  background-color: var(--color-dark);
  margin-top: -1rem;
  padding-top: 3rem;
}

.leftPart img {
  height: 2rem;
}

.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftPart p {
  width: 80%;
  text-align: center;
}

.leftPart span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
