.mainContainerHeader {
  position: relative;
}

.imageContainer {
  position: relative;
}

.imageHeader {
  width: 100%;
  display: block;
}

.textHeader p {
  font-size: smaller;
}

.textHeader {
  position: absolute;
  top: 58%;
  right: 0%;
  /* transform: translate(24%, -67%); */
  transform: translateY(-50%);
  z-index: 1;
  color: var(--color-text);
  background-color: var(--color-dark);
  height: 115%;
  width: 47%;
  clip-path: polygon(100% 0, 100% 75%, 70% 100%, 0 75%, 0 0);
  z-index: 1;
}

.socialMedia {
  background: linear-gradient(
    to right,
    var(--color-orange-dark),
    var(--color-orange-light)
  );
  width: 25%;
  height: 9%;
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
  position: absolute;
  top: 95%;
  display: flex;
  align-items: center;
}

.socialMedia span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.socialMediaLogo {
  display: flex;
  align-items: center;
}
