.mainContainerBMI {
  background-color: var(--color-lightDark);
  padding: 3rem 2rem 2rem 2rem;
}

.containerBMI p {
  font-size: 14px;
  color: var(--color-text);
}

.containerBMI input {
  height: 2rem;
  background-color: var(--color-lightDark);
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

.containerBMI {
  height: 20rem;
}

.horizontalLine {
  border-top: 1px solid var(--color-orange-dark);
  width: 3rem;
  margin-bottom: 1rem;
}

.btnSelection {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.btn {
  background: linear-gradient(
    to right,
    var(--color-orange-dark),
    var(--color-orange-light)
  );

  border: none;

  border-radius: 5px;
  padding: 0.4rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.btnCalcul {
  background: linear-gradient(
    to right,
    var(--color-orange-dark),
    var(--color-orange-light)
  );

  border: none;

  border-radius: 5px;
  padding: 0.4rem;
  cursor: pointer;

  margin-top: 1rem;
}

.btnCalcul:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.imperialInput {
  margin-bottom: 1rem;
}

.BMIresults {
  color: var(--color-orange-dark);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  height: 12rem;
}

@media (min-width: 760px) {
  .imageContainer {
    width: 50%;
  }

  .imageContainer img {
    height: 26rem;
    width: 100%;
  }

  .bmiCalcul {
    display: flex;
    /* gap: 4rem; */
    justify-content: space-around;
    /* margin-left: 10rem; */
  }

  .mainContainerBMI {
    height: 26rem;
    padding: 0;
    /* display: flex; */
  }

  .imageContainer {
    display: block;
  }

  .title {
    margin-top: 0.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imperialSize {
    display: flex;
    gap: 2rem;
  }

  .imperialInput {
    margin-bottom: 0rem;
  }

  .title2 {
    display: flex;
  }

  .btnSelection {
    justify-content: left;
  }
}
