/* Assuming your styles are defined as CSS modules, as indicated by the use of `styles.x`, `styles.mainContainer`, etc. */

/* Container for the whole content */
.x {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */

  position: relative; /* Needed for positioning .containerWeather */
}

/* Container for the images */
.containerWeather {
  position: absolute;
  bottom: 0; /* Stick to the bottom of the parent container */
  width: 80%;
  display: flex;
  justify-content: space-between; /* Optional, adjust based on your needs */
  align-items: center; /* Vertically center the content inside .containerWeather */
  background-color: #364156cc;
  color: white;
}

/* Add other styles as needed for .FirstDay and .RestOfWeek */

/* Style for the image */
